<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>

    <!-- เอาไว้ใส่ content ใน body -->
    {% block content %}
    {% endblock %}

    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>